html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

body {
  margin: 0;
  background: #f7f5ef;
  color: #222;
  font-family:
    "Helvetica Neue",
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    sans-serif
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.top-logo {
  font-family: Georgia, serif;
  font-size: 24px;
  letter-spacing: 0.08em;
}

.menu-button {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 1px;
  background: #222;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* 通常時 */
.menu-button span:nth-child(1) {
  transform: translate(-50%, -6px);
}

.menu-button span:nth-child(2) {
  transform: translate(-50%, 0);
}

.menu-button span:nth-child(3) {
  transform: translate(-50%, 6px);
}

/* 開いた時 */
.menu-button.is-open span:nth-child(1) {
  transform: translate(-50%, 0) rotate(45deg);
}

.menu-button.is-open span:nth-child(2) {
  opacity: 0;
}

.menu-button.is-open span:nth-child(3) {
  transform: translate(-50%, 0) rotate(-45deg);
}


.site-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  padding: 120px 50px;
  background: #f7f5ef;
  display: flex;
  flex-direction: column;
  gap: 30px;

  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 99;
}

.site-menu a {
  font-family: Georgia, serif;
  font-size: 24px;
  letter-spacing: 0.05em;
}

.site-menu a:hover {
  transform: translateX(10px);
  opacity: 0.6;
}
.site-menu.is-open {
  transform: translateX(0);
}

/* ヒーロー */
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f5ef;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-logo-main {
  font-family: Georgia, serif;
  font-size: clamp(70px, 12vw, 140px);
  font-weight: normal;
  letter-spacing: 0.15em;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.hero-button {
  padding: 16px 35px;
  font-size : 14px;
  letter-spacing: 0.08em;
  transition: 0.3s;
}

.hero-button-primary {
  background: #222;
  color: white;
}

.hero-button-primary:hover {
  background: #555;
}

.hero-button-secondary {
  border: 1px solid #222;
}

.hero-button-secondary:hover {
  background: #222;
  color: white;
}



/* about */
.about-section {
  padding: 140px 20;
}


.about-container {
  width: min(900px, 90%);
  margin: 0 auto;
}

.section-title {
  font-family: Georgia, serif;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 80px;
}

.about-introduction {
  padding: 50px 0;
  border-top: 1px solid #222;
}

.about-introduction h3 {
  font-family: Georgia, serif;
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 30px;
}

.about-introduction p {
  font-size: 17px;
  line-height: 2.0;
  margin: 0 0 10px;
}

.about-description {
  margin: 40px 0;
}

.about-description p {
  font-family: Georgia, serif;
  font-size: 22px;
  line-height: 2.0;
  margin: 0 0 20px;
}

.about-message {
  padding-top: 50px;
  border-top: 1px solid #222;
}

.about-message p {
  font-size: 17px;
  line-height: 2.2;
  margin: 0 0 30px;
}



/* problem */
.problem-section {
  padding: 140px 20px;
  background: #ebe7dd;
}

.problem-container {
  width: min(1100px, 90%);
  margin: 0 auto;
}

.problem-lead {
  margin-bottom: 80px;
}

.problem-list {
  border-top: 1px solid #222;
}

.problem-item {
  min-height: 400px;
  padding: 80px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;

  border-bottom: 1px solid #222;
}
.problem-content span {
  font-family: Georgia, serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.problem-content h3 {
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.5;
  margin: 30px 0;
}

.problem-content p {
  font-size: 15px;
  line-height: 2;
  margin: 0;
}

.problem-image {
  height: 280px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.problem-item-reverse .problem-content {
  order: 2;
}

.problem-item-reverse .problem-image {
  order: 1;
}

/* how-to-use */
.how-to-section {
  padding: 180px 20px;
}

.how-to-container {
  width: min(1100px, 90%);
  margin: 0 auto;
}

.how-to-lead {
  margin-bottom: 80px;
  font-size: 17px;
}

.how-to-list {
  border-top: 1px solid #222;
}

.how-to-item {
  min-height: 400px;
  padding: 80px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;

  border-bottom: 1px solid #222;
}

.how-to-content span {
  font-family: Georgia, serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.how-to-content h3 {
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.5;
  margin: 30px 0;
}

.how-to-content p {
  font-size: 15px;
  line-height: 2;
  margin: 0;
}

.how-to-image {
  height: 280px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.how-to-item-reverse .how-to-content {
  order: 2;
}

.how-to-item-reverse .how-to-image {
  order: 1;
}

/* footer */
.site-footer {
  padding: 100px 20px 40px;
  background: #ebe7dd;
}

.site-footer-container {
  width: min(1100px, 90%);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.site-footer-brand a {
  font-family: Georgia, serif;
  font-size: 28px;
}

.site-footer-brand p {
  margin: 15px 0 0;
  font-size: 14px;
}

.site-footer-nav {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.site-footer-nav a {
  font-family: Georgia, serif;
  font-size: 16px;
  transition: opacity 0.3s ease;
}

.site-footer-nav a:hover {
  opacity: 0.5;
}

.site-footer-bottom {
  width: min(1100px, 90%);
  margin: 80px auto 0;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.site-footer-bottom p {
  margin: 0;
  font-size: 12px;
}





